<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input
    field={f[:text]}
    type="text"
    label="❯"
    labelClass="absolute top-[15px] text-lg left-[28px] rotate-90 text-gray-300"
    placeholder="What need to be done?"
  />
  <.input field={f[:status]} type="hidden" labelClass="hidden" value={0} label="Status" />
  <%!-- <.input field={f[:person_id]} type="number" label="Person" />
  <.input field={f[:status]} type="number" label="Status" /> --%>
  <:actions>
    <.button class="hidden">Save Item</.button>
  </:actions>
</.simple_form>
